<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Laufbahn</h2>
                <h3 class="section-subheading text-muted">Hier finden Sie die wichtigsten Station von Michael Ofners
                    Werdegang</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1984-1987</h4>
                                <h4 class="subheading">Lehrzeit</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">3 jährige Lehrzeit zum Lackierer bei Firma Maurer Karl in
                                    Neunkirchen.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1987-1991</h4>
                                <h4 class="subheading">Lackierer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lackierer bei Firma Zitta in Perchtoldsdorf.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1991-1994</h4>
                                <h4 class="subheading">Lackierer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lackierer bei Firma Bierbaum in Eisenstadt</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1992</h4>
                                <h4 class="subheading">Meisterprüfung</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Erfolgreicher Abschluss der Meisterprüfung zum Meister der Lackierer.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4>1994-2010</h4>
                            <h4 class="subheading">Lackierer</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Lackierer bei Firma Täubl in Neunkirchen.</p>
                        </div>
                    </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Seit 2010</h4>
                                <h4 class="subheading">Selbständig</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Übernahme der Firma Täubl und Fortführung unter dem Namen Lackiererei Ofner.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Profitieren Sie 
                                <br>von meiner
                                <br>Erfahrung!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>