<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: " Kontakt" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].contact.title }}</h2>
        <p>
          <b>Telefon</b><br />
          02635 / 71 685
        </p>
        <p>
          <b>Adresse</b><br />
          Werner von Siemensstraße 6<br />
          2620 Neunkirchen<br />
          <a href="mailto:auto@lackiererei-m-ofner.at">auto@lackiererei-m-ofner.at</a> 
        </p>
        <p>
          <b>Montag bis Donnerstag</b><br />
          07:30 Uhr bis 12:00 Uhr und 13:00 Uhr bis 17:00 Uhr
        </p>

        <p>
          <b>Freitag</b><br />
          07:30 Uhr bis 12:00 Uhr
          <br />
        </p>
        <p>
          Freitagnachmittag und Samstag nach telefonischer Vereinbarung.
        </p>
      </div>
    </div>
  </div>
</section>