<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="css/fonts/Montserrat.css" rel="stylesheet" type="text/css">
    <link href='css/fonts/KaushanScript.css' rel='stylesheet' type='text/css'>
    <link href="css/fonts/Lato.css" rel="stylesheet" type="text/css">
    <link href="css/fonts/DroidSerif.css" rel='stylesheet' type='text/css'>
    <link href='css/fonts/RobotoSlab.css' rel='stylesheet' type='text/css'>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>    
    <link rel="stylesheet" href="css/GoogleMaps.css"/>
    <script type="module" src="js/index.js"></script>
</head>
